{% extends "home/base.html" %}
{% load wagtailcore_tags home_tags %}


{% block heading %}
    <div class="jumbotron">
        <h1>PostVision</h1>
    </div>
{% endblock %}


{% block content %}
    {% include "helpers/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% if self.body %}
        <div class="body-content">
            {% include "home/includes/streamfield.html" with content=self.body %}
        </div>
    {% endif %}

    {% artist_listing_homepage %}
{% endblock %}
