{% load home_tags event_tags artist_tags blog_tags helper_tags cache compress static wagtailuserbar %}

{% load require %}

<!DOCTYPE html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/lazy_load_xt/dist/jquery.lazyloadxt.fadein.css">
        {% require_module 'main' %}
       	<link rel="stylesheet" type="text/css" href="/media/documents/PostVision.css" >

        <link rel="stylesheet" type="text/css" href="/media/documents/PostVision-desktop.css" media="only screen and (min-width: 1000px)">
        <link rel="stylesheet" type="text/css" href="/media/documents/PostVision-tablet.css" media="only screen and (max-width: 1000px)">
        <link rel="stylesheet" type="text/css" href="/media/documents/PostVision-mobile.css" media="only screen and (max-width: 640px)">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{% static 'js/styles/font-awesome.min.css' %}">
        <link href="http://vjs.zencdn.net/5.10.4/video-js.css" rel="stylesheet">
        <link href="{% static 'js/styles/grid.css' %}" rel="stylesheet">

    </head>
    <body>
        <div id="scrollBar"></div>
        <div id="container">
            <div id="menu" class="hidden-menu"></div>
            <div id="appBG-box" class="hidden"><div id="appBG"></div></div>
            <div id="app" class="hidden"></div>
        </div>
    </body>
</html>
