{% load home_tags event_tags artist_tags blog_tags helper_tags cache compress static wagtailuserbar %}

{% load require %}

<!DOCTYPE html>
    <head>
        {% require_module 'main' %}
       	<link rel="stylesheet" type="text/css" href="{% static 'css/PostVision.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    </head>
    <body>
        <div id="container">
            <div id="menu"></div>
            <div id="appBG-box"><div id="appBG"></div></div>
            <div id="app"></div>
        </div>      
    </body>
</html>
