{% load home_tags event_tags artist_tags blog_tags helper_tags cache compress static wagtailuserbar %}

{% load require %}

<!DOCTYPE html>
    <head>
        {% require_module 'main' %}
       	<link rel="stylesheet" type="text/css" href="{% static 'js/styles/PostVision.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'js/fonts/font.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'js/styles/font-awesome.min.css' %}">
        <link href="http://vjs.zencdn.net/5.10.4/video-js.css" rel="stylesheet">

    </head>
    <body>
        <div id="container">
            <div id="menu"></div>
            <div id="appBG-box"><div id="appBG"></div></div>
            <div id="app"></div>
        </div>
    </body>
</html>
