<div class="app-body {{body_classes}}">
{{{body}}}
</div>

	<script type="text/javascript">
$(document).ready(function(){
	$('#appBG').vide({
		mp4: '{{background_video.meta.file}}',
		poster: '{{background_image.meta.file}}',
	}, {
		posterType: 'jpg',
		origin: 'content-box',
	});
});
</script>