<a class="permalink" href="/artists/{{meta.slug}}/">
    <div class="artist-feed-image">
        <div class='artist-feed-image-height' style="background-image: url('{{profile_picture_url}}')">
        </div>
    </div>
    <div class="artist-feed-name">
        {{uppercase title}}
    </div>
</a>