{% extends "home/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% include "helpers/includes/intro.html" with intro=self.intro only %}

    {% if self.image %}
        {% image self.profile_picture width-300 class="img-thumbnail" %}
    {% endif %}

    {% if self.bio %}
        <div class="page-header"><h3>Biography</h3></div>
    {% endif %}

    {% if self.body %}
        <div class="body-content">
            {{ self.body|richtext }}
        </div>
    {% endif %}
{% endblock %}