.app-body {
  padding: 100px;
}

.no-height-desktop {
    height: 0px;
    overflow: hidden;
}

.hidden-desktop {
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

#appM2M ul{
    padding-left: 0;
    width: 70%;
    list-style-type: none;
}

#artist-cover {
   position: relative;
   height: 400px; 
   margin-top: 80px
}

.artist-name {
    position: fixed;
    text-align: right;
    z-index: 2;
    right : 50px;
}

#artist-first-name {
    top : 225px; 
}
#artist-last-name {
    top : 290px;
}

#artist-profile-image {
    position: absolute;
    top : 0px;
    right : 70px;
}

#artist-profile-image img {
    max-width: 400px;
}

#artist-bio {
    transition: all .5s;
    position: relative;
    padding-top: 30px;
    padding-left: 35%;
    text-align: justify;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Helvetica;
}

#artist-social li {
    float: right;
    padding-left: 10px;
}

#app {
    width: 100%;
    padding: 50px;
    padding-top: 0px;
    box-sizing: border-box;
}