<div class="menu-collapsed">
	<div id="menu-bar">
		<div id="burger-menu"> 
			<div class="menu-title"><a href="/">POST VISION</a></div>
			<div class="menu-text shown hidden">MENU</div>
		</span>
		<div class="bar"></div>
	<div id="menu-expander">
		<ul id="navbar" class="navigation">
		</ul>
	</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8" async defer>
    $('.menu-text').click(function(){
    	$('.bar').click();
    });
</script>